# Node modules (dependencies)
node_modules/

# Environment variables (keep them out of version control)
.env

# Dist folder (output build)
dist/

# Log files
*.log

# IDE/editor config
/.idea/
/.vscode/
/.DS_Store

# TypeScript local build
*.tsbuildinfo
